*{
    margin: 0px;
    padding: 0px;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.container{
    border: none;
    display: flex;
    background-color: #E554731A;
}

.header{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 197px;
    margin-bottom: 32px;
}

.btn-primary{
    border: 0px;
    font-size: 28px;
    text-align: center;
    padding: 20px 43px;
    color: white;
    background-color: #E55473;
    border-radius: 3px;
}

.vertical-center {
    margin-left: 240px;
    margin-bottom: 32px;
    gap: 97px
  }


.wing10{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
    margin-bottom: 0px;
}

.paragraph{
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.header-one{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 32px;
}

.paragraph-one{
    text-align: center;
    font-size: 20px;
    margin-bottom: 32px;
}

.box-container{
    margin-left: 620px;
    display: flex;
    gap: 50px;
}

.box{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
}

.box-one{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: #0597A026;
}
.img-box{
    margin-top: 110px;
    margin-left: 80px;
}

.box-two{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: #477D1126;
}

.img-box-three{
    margin-top: 66px;
    margin-left: 80px;
}

.header-title{
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}

.header-title-double{
    text-align: center;
    margin-top: 80px;
    text-decoration: underline;
}

.container-three{
    display: flex;
    text-align: center;
    gap: 100px;
    margin-top: 200px;
    margin-left: 640px;
    margin-bottom: 200px;
    border: 0px;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: #2727270D;
}

.img-continer-one{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 24px;
}

.header-continer-three{
    margin-left: 120px;
    font-size: 18px;
}

.container-four{
    display: flex;
    text-align: center;
    gap: 100px;
    margin-bottom: 100px;
    border: 0px;
    height: 620px;
    border-radius: 8px;
    background: #E554730D;
}

.header-continer-four{
    margin-top: 250px;
    margin-left: 750px;
    margin-bottom: 32px;
}

.paragraph-two{
    margin-left: 700px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 32px;
}

.img-continer-two{
    margin-top: 100px;
    margin-left: 100px;
}