*{
    margin: 0px;
    padding: 0px;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.container{
    border: none;
    display: flex;
    background-color: #E554731A;
}

.header{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 197px;
    margin-bottom: 32px;
}

.btn-primary{
    border: 0px;
    font-size: 28px;
    text-align: center;
    padding: 20px 43px;
    color: white;
    background-color: #E55473;
    border-radius: 3px;
}

.vertical-center {
    margin-left: 240px;
    margin-bottom: 32px;
    gap: 97px
  }


.wing10{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
    margin-bottom: 0px;
}

.paragraph{
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
